@using TokenAuthSystemMVC.Services;

@inject IJwtTokenProvider JwtTokenProvider

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="display-4">Welcome Admin!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome User!</h1>
    }
    @if (JwtTokenProvider.IsTokenValid())
    {
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>You're logged in as:&nbsp;@User?.Identity?.Name</p>
        <p>User Id: @ViewData["UserID"]</p>
        <p>User Token: @ViewData["UserToken"]</p>
        <p>IsTokenValid: @ViewData["IsTokenValid"]</p>
        <p>@ViewData["TokenValidUntil"]</p>
        <p>@ViewData["UserRole"]</p>
    }
</div>
